<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true">
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
      <clover outputFile="coverage.xml"/>
    </report>
  </coverage>
  <logging/>
  <testsuites>
    <testsuite name="unit">
      <directory>./tests/Unit</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./Commands</directory>
      <directory suffix=".php">./Dao</directory>
      <directory suffix=".php">./libs</directory>
      <directory suffix=".php">./RangeUpdater.php</directory>
    </include>
  </source>
</phpunit>
